<form>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input
        type="text"
        class="form-control"
        id="inlineFormInputName"
        placeholder="Will Régis"
      />
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">CPF</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername"
          placeholder="Username"
        />
      </div>
    </div>
    <div class="col-auto my-1">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck2" />
        <label class="form-check-label" for="autoSizingCheck2">
          Remember me
        </label>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Acessar</button>
    </div>
  </div>
</form>

<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul class="menu-header">
        <li>Abra sua conta</li>
        <li>Investimentos</li>
        <li>Planos</li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-4">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="form-check">
              <label class="form-check-label" for="autoSizingCheck2">
                <b>Acesse</b> sua conta
              </label>
              <input
                type="text"
                class="form-control"
                id="inlineFormInputName"
                placeholder="Digite seu CPF"
              />
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary acessar-conta">
              Acessar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


